
version: '2'

vars:
  GCP_PROJECT: spaces-dev-practice1
  CLUSTER: fake-user-cluster
  KUBE_CONTEXT: gke_onesnastaging_us-central1-c_loadtest-k6

tasks:
  kube-context:
    cmds:
      - kubectl config use-context {{ .KUBE_CONTEXT }}

  clean:
    deps: [kube-context]
    dir: ./
    cmds: 
      - kubectl delete pods $(kubectl get pods | grep "fakeuser" | awk 'BEGIN { ORS=" "}; {print $1}')

  clean-few:
    deps: [kube-context]
    dir: ./
    cmds: 
      - kubectl delete pods $(kubectl get pods | grep "fakeuser" | head -n 300 | awk 'BEGIN { ORS=" "}; {print $1}')

  build-image:
    deps: []
    dir: ../
    cmds:
      - docker build -t testing-client .
      - docker tag testing-client gcr.io/{{ .GCP_PROJECT }}/testing-client
      - docker push gcr.io/{{ .GCP_PROJECT }}/testing-client

  run-large-meeting-test:
    deps: [kube-context]
    dir: ./
    cmds:
      - helm upgrade --install -f ./values.yaml fakeuser ./

  create-storage-secret:
    deps: [kube-context]
    dir: ./
    cmds:
      - kubectl create secret generic storage-key --from-file ../keys/storage-key.json

  
    
  